@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|PT++Mono);

:root{
    --pimary-color: #5c0010;
    --secundary-color: #9e3b42;
    --tertiary-color: #e4717a;
}

body{
    background-color: var(--pimary-color);
    font-size: 15px;
    font-family: Lato, sans-serif;
}

#container{
    height: 505px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 3px 3px 3px var(--tertiary-color);
    border-radius: 20px;
}

.title{
    background: gray;
    color: var(--secundary-color);
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.tipsForm{
    padding-left: 20px;
    padding-right: 20px;
}

.formImput{
    background: white;
    width: 40px;
    padding: 5px 5px 8px 8px;
}

.formImput:focus{
    border: 3px solid var(--pimary-color);
    outline: none;
}

.formSelect{
    width: 155px;
    padding: 5px;
    font-size: 12px ;
}

.formSubmit{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: var(--pimary-color);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
}

#totalTip{
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}